In [1]:
# import os
# l1=os.listdir()
# l2=[]
# for l in l1:
#     if l.endswith('.csv'):
#         l2.append(l)

# l3=l2
# l3

In [2]:
# len(l3)

In [3]:
# import shutil
# for i in l3:
#     shutil.move(i, "Image-Classification-and-Price-prediction/data_cleaning/"+i)

### csv file creator

In [1]:
raw_dir="scrapping/data/"
import os
f1=os.listdir(raw_dir)
f2=[]
for f in f1:
    if f.endswith('.csv'):
        f2.append(f)
print(len(f2))
f2

19

['nameit.csv',
 'lager157.csv',
 'afound.csv',
 'kappah.csv',
 'cdon.csv',
 'oildesign.csv',
 'ahlens.csv',
 'polarnopyret.csv',
 'kavat.csv',
 'H&M.csv',
 'bonprix.csv',
 'ellos.csv',
 'zalando.csv',
 'boozt.csv',
 'zara.csv',
 'babyshop.csv',
 'jollyroom.csv',
 'kidsbrandstore.csv',
 'lekmer.csv']

In [2]:
# Creating an empty Dataframe with column names only
import pandas as pd
dfObj = pd.DataFrame(columns=['article_no','gender','category','price','size','brand','url','name'])
print("Empty Dataframe ", dfObj, sep='\n')

Empty Dataframe
Empty DataFrame
Columns: [article_no, gender, category, price, size, brand, url, name]
Index: []

In [3]:
for fi in f2:
    name=fi.strip('.csv')
    df=pd.read_csv(raw_dir+fi, encoding='utf-8',index_col=False)
    colunms=['article_no','gender','category','price','size','brand','url','name']
    df2=df[colunms]
    df2['article_no']=name+'/'+df2['article_no'].astype(str)
    break
df2.head(2)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,article_no,gender,category,price,size,brand,url,name
0,nameit/13167118,girl,ni-baby-dresses-skirts,"\n149,95 kr\n",50,nameit,https://www.nameit.com/se/sv/ni/baby---strl-40...,BABY blommig Tunika
1,nameit/13167118,girl,ni-baby-dresses-skirts,"\n149,95 kr\n",56,nameit,https://www.nameit.com/se/sv/ni/baby---strl-40...,BABY blommig Tunika

In [4]:

import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly
tl=[]
for fi in f2:
    name=fi.strip('.csv')
    df=pd.read_csv(raw_dir+fi, encoding='utf-8',index_col=False)
    colunms=['article_no','gender','category','price','size','brand','url','name']
    df2=df[colunms]
    df2['article_no']=name+'/'+df2['article_no'].astype(str)
    tl.append(df2['size'].count())
    print(df2['size'].count())
    dfObj = pd.concat([dfObj,df2])
    print('created obj size',dfObj['size'].count())
    
sum(tl)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

24897
created obj size 24897
3514
created obj size 28411
11459
created obj size 39870
12413
created obj size 52283
8129
created obj size 60412
85543
created obj size 145955
28848
created obj size 174803
3271
created obj size 178074
5115
created obj size 183189
13101
created obj size 196290
6143
created obj size 202433
7450
created obj size 209883
108393
created obj size 318276
42141
created obj size 360417
15954
created obj size 376371
87008
created obj size 463379
54386
created obj size 517765
8969
created obj size 526734
31110
created obj size 557844

557844

In [5]:
df.columns.values #can have blob url etc

array(['name', 'brand', 'gender', 'category', 'size', 'price', 'url',
       'img_url', 'article_no', 'blob_url'], dtype=object)

In [6]:
dfObj.tail(2)

,article_no,gender,category,price,size,brand,url,name
31108,lekmer/115569,unisex,shoes,1699 kr,\nUS 11 (Eur stl 28)\n,\nUGG\n,https://lekmer.se/t-classic-chestnut/p/66676,\nT Classic Chestnut\n
31109,lekmer/115569,unisex,shoes,1699 kr,\nUS 11 (Eur stl 28)\n,\nUGG\n,https://lekmer.se/t-classic-chestnut/p/66676,\nT Classic Chestnut\n

In [7]:
!pwd

/home/jupyter/Image-Classification-and-Price-prediction

In [8]:
dfr=dfObj.drop_duplicates()
print(dfObj.drop_duplicates().count())
dfr.to_csv('raw_data.csv',index=False) #for rows not showing

article_no    476476
gender        476476
category      476476
price         476297
size          476476
brand         476476
url           476476
name          476475
dtype: int64

In [15]:
!du -sh 'raw_data.csv'

72M	raw_data.csv

In [17]:
!du -sh '../Image-Classification-and-Price-prediction'

516M	../Image-Classification-and-Price-prediction

In [18]:
raw_dir="data_cleaning/"
import os
f1=os.listdir(raw_dir)
f2=[]
for f in f1:
    if f.endswith('.csv'):
        f2.append(f)
len(f2)
f2

['H&M_cleaned.csv',
 'jollyroom_cleaned.csv',
 'zara_cleaned.csv',
 'kavat_cleaned.csv',
 'polarnopyret_cleaned.csv',
 'ellos_cleaned.csv',
 'lager157_cleaned.csv',
 'zalando_cleaned.csv',
 'bonprix_cleaned.csv',
 'babyshop_cleaned.csv',
 'nameit_cleaned.csv',
 'oildesign_cleaned.csv',
 'boozt_cleaned.csv',
 'kappah_cleaned.csv',
 'afound_cleaned.csv',
 'kidsbrandstore_cleaned.csv',
 'åhlens_cleaned.csv',
 'cdon_cleaned.csv',
 'lekmer_cleaned.csv']

In [19]:
# Creating an empty Dataframe with column names only
dfObj = pd.DataFrame(columns=['article_no','gender','category','price','size','brand'])
print("Empty Dataframe ", dfObj, sep='\n')

Empty Dataframe
Empty DataFrame
Columns: [article_no, gender, category, price, size, brand]
Index: []

In [22]:

import pandas as pd
pd.set_option('display.max_colwidth', -1) #full colunm dispaly
tl=[]
for fi in f2:
    name=fi.split('_')[0]
    df=pd.read_csv(raw_dir+fi, encoding='utf-8',index_col=False)
    df.columns=cl
    df2=df
    df2['article_no']=name+'/'+df['article_no'].astype(str)
    tl.append(df2['article_no'].count())
    print(df2['article_no'].count())
    dfObj = pd.concat([dfObj,df2])
    print('created obj size',dfObj['article_no'].count())
    
sum(tl)

90251
created obj size 90251
33282
created obj size 123533
14201
created obj size 137734
5115
created obj size 142849
3057
created obj size 145906
5803
created obj size 151709
3514
created obj size 155223
106572
created obj size 261795
6143
created obj size 267938
16638
created obj size 284576
24668
created obj size 309244
53955
created obj size 363199
41516
created obj size 404715
3140
created obj size 407855
7883
created obj size 415738
8961
created obj size 424699
21792
created obj size 446491
7890
created obj size 454381
11657
created obj size 466038

466038

In [23]:
cl=['article_no','gender','category','price','size','brand']
print(df2.columns)
df0=df2
df0.columns=cl
df0.head(2)
print(df0.columns)

Index(['article_no', 'gender', 'category', 'price', 'size', 'brand'], dtype='object')
Index(['article_no', 'gender', 'category', 'price', 'size', 'brand'], dtype='object')

In [24]:
dfr=dfObj
# .drop_duplicates()
print(dfObj.drop_duplicates().count())
dfr.to_csv('cleaned_data.csv',index=False) #for rows not showing

article_no    440320
gender        440320
category      440320
price         440320
size          440202
brand         440320
dtype: int64

In [25]:
dfObj["is_duplicate"]= dfObj.duplicated()
dfObj.head(2)

      article_no  gender  category price size brand  is_duplicate
0  H&M/701784001  unisex  babybody  149   44   H&M   False
1  H&M/701784001  unisex  babybody  149   50   H&M   False

In [26]:
dfObj[dfObj['is_duplicate']==True]

,article_no,gender,category,price,size,brand,is_duplicate
42980,H&M/767980001,boy,t-shirt,50,92,H&M,True
42981,H&M/767980001,boy,t-shirt,50,98,H&M,True
42982,H&M/767980001,boy,t-shirt,50,104,H&M,True
42987,H&M/767980002,boy,t-shirt,50,92,H&M,True
42988,H&M/767980002,boy,t-shirt,50,98,H&M,True
42989,H&M/767980002,boy,t-shirt,50,104,H&M,True
42994,H&M/767980003,boy,t-shirt,50,92,H&M,True
42995,H&M/767980003,boy,t-shirt,50,98,H&M,True
42996,H&M/767980003,boy,t-shirt,50,104,H&M,True
43001,H&M/767980004,boy,t-shirt,50,92,H&M,True
43002,H&M/767980004,boy,t-shirt,50,98,H&M,True
43003,H&M/767980004,boy,t-shirt,50,104,H&M,True
43008,H&M/767980006,boy,t-shirt,50,92,H&M,True
43009,H&M/767980006,boy,t-shirt,50,98,H&M,True
43010,H&M/767980006,boy,t-shirt,50,104,H&M,True
43015,H&M/767980007,boy,t-shirt,50,92,H&M,True
43016,H&M/767980007,boy,t-shirt,50,98,H&M,True
43017,H&M/767980007,boy,t-shirt,50,104,H&M,True
43022,H&M/767980008,boy,t-shirt,50,92,H&M,True
43023,H&M/767980008,boy,t-shirt,50,98,H&M,True
43024,H&M/767980008,boy,t-shirt,50,104,H&M,True
43029,H&M/767980009,boy,t-shirt,50,92,H&M,True
43030,H&M/767980009,boy,t-shirt,50,98,H&M,True
43031,H&M/767980009,boy,t-shirt,50,104,H&M,True
43036,H&M/767980010,boy,t-shirt,50,92,H&M,True
43037,H&M/767980010,boy,t-shirt,50,98,H&M,True
43038,H&M/767980010,boy,t-shirt,50,104,H&M,True
46984,H&M/736203003,boy,tröja,99,92,H&M,True
46985,H&M/736203003,boy,tröja,99,98,H&M,True
46986,H&M/736203003,boy,tröja,99,104,H&M,True
...,...,...,...,...,...,...,...
11626,lekmer/268145,unisex,overdelear,249,104,ebbe Kids,True
11627,lekmer/197134,unisex,overdelear,199,50-56,Emma och Malena,True
11628,lekmer/407753,unisex,jul and luciaklader,299,Na,Play,True
11629,lekmer/369035,unisex,shoes,249,21EU,Kuling,True
11630,lekmer/407303,unisex,shoes,399,26EU,Hummel,True
11631,lekmer/384979,unisex,shoes,349,Na,Crocs,True
11632,lekmer/466420,unisex,shoes,849,21,Naturino,True
11633,lekmer/479578,unisex,shoes,850,28,Puma,True
11634,lekmer/479585,unisex,shoes,550,28,Puma,True
11635,lekmer/423816,unisex,shoes,699,32EU,By Nils,True
11636,lekmer/423796,unisex,shoes,599,19EU,By Nils,True
11637,lekmer/434452,unisex,shoes,350,24EU,Tenson,True
11638,lekmer/440849,unisex,shoes,649,26EU,ECCO,True
11639,lekmer/421026,unisex,shoes,429,26EU,Marvel Spider-Man,True
11640,lekmer/445289,unisex,shoes,699,20EU,Superfit,True
11641,lekmer/445247,unisex,shoes,329,24EU,Superfit,True
11642,lekmer/425149,unisex,shoes,399,24EU,Gulliver,True
11643,lekmer/407316,unisex,shoes,649,29EU,Hummel,True
11645,lekmer/387460,unisex,shoes,899,24EU,Bisgaard,True
11646,lekmer/308142,unisex,shoes,499,M,Emu Australia,True
11647,lekmer/316074,unisex,shoes,349,0-6M,Melton,True
11648,lekmer/325309,unisex,shoes,949,21EU,Bisgaard,True
11649,lekmer/263228,unisex,shoes,199,33-34,Havaianas,True
11650,lekmer/243434,unisex,shoes,349,32EU,Kuling,True
11651,lekmer/282737,unisex,shoes,269,22EU,Celavi,True
11652,lekmer/288241,unisex,shoes,399,23EU,Tretorn,True
11653,lekmer/271867,unisex,shoes,349,Na,Crocs,True
11654,lekmer/L-0037874-1002,unisex,shoes,699,22EU,Bobux,True
11655,lekmer/L-0032599-1001,unisex,shoes,349,28EU,SPROX,True
11656,lekmer/157204,unisex,shoes,499,35,Crocs,True

In [27]:
!du -sh 'cleaned_data.csv'

24M	cleaned_data.csv

## url attacher

In [32]:
raw_dir="Image-Classification-and-Price-prediction/"
dfa=pd.read_csv("raw_data.csv")
dfb=pd.read_csv("cleaned_data.csv")

In [36]:
dfb.count()

article_no    466038
gender        466038
category      466038
price         466038
size          465890
brand         466038
dtype: int64

In [39]:
dfb['price'].unique().shape

(1568,)